<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.cpspringboot.teacherFollow.mapper.TeacherFollowMapper">
	<sql id="Base_Column_List">
		id,touserid,fromuserid
	</sql>
	<!-- 根据条件查询 -->
	<select id="findTeacherFollow" parameterType="hashmap"
		resultType="TeacherFollow">
		select
		<include refid="Base_Column_List" />
		from zls_item_teacher_follow
		<where>
			<if test="id!=null">
				and id=#{id,jdbcType=INTEGER}
			</if>
			<if test="touserid !=null">
				and touserid=#{touserid,jdbcType=INTEGER}
			</if>
			<if test="fromuserid !=null">
				and fromuserid=#{fromuserid,jdbcType=INTEGER}
			</if>
		</where>
		<choose>
			<when test="order!=null and order!=''">
				order by ${order}
			</when>
			<otherwise>
				order by id
			</otherwise>
		</choose>
	</select>
	<!-- 根据条件查询总数 -->
	<select id="findTeacherFollowCount" parameterType="hashmap"
		resultType="TeacherFollow">
		select count(id) as count from zls_item_teacher_follow
		<where>
			<if test="touserid !=null">
				and touserid=#{touserid,jdbcType=INTEGER}
			</if>
			<if test="fromuserid !=null">
				and fromuserid=#{fromuserid,jdbcType=INTEGER}
			</if>
		</where>
	</select>
	<!-- 添加follow -->
	<insert id="insert" parameterType="com.cp.cpspringboot.teacherFollow.model.TeacherFollow"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into zls_item_teacher_follow
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="touserid != null">
				touserid,
			</if>
			<if test="fromuserid != null">
				fromuserid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="touserid != null">
				#{touserid,jdbcType=INTEGER},
			</if>
			<if test="fromuserid != null">
				#{fromuserid,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<!-- 根据条件删除 -->
	<delete id="delete" parameterType="com.cp.cpspringboot.teacherFollow.model.TeacherFollow">
		DELETE FROM zls_item_teacher_follow
		<where>
			<if test="touserid !=null">
				and touserid=#{touserid,jdbcType=INTEGER}
			</if>
			<if test="fromuserid !=null">
				and fromuserid=#{fromuserid,jdbcType=INTEGER}
			</if>
		</where>
	</delete>
</mapper>