<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.cpspringboot.teacherExperience.mapper.TeacherExperienceMapper">
	<sql id="Base_Column_List">
		id,begin,end,school,content,subject,pid,setid
	</sql>
	<!-- 根据条件查询 -->
	<select id="findTeacherExperience" parameterType="hashmap" resultType="TeacherExperience">
		select
		<include refid="Base_Column_List" />
		from zls_item_teacher_experience
		<where>
			<if test="id!=null and id!=''">
				and id=#{id,jdbcType=INTEGER}
			</if>
			<if test="pid!=null and pid!=''">
				and pid=#{pid,jdbcType=INTEGER}
			</if>
		</where>
		<choose>
			<when test="order!=null and order!=''">
				order by ${order}
			</when>
			<otherwise>
				order by begin
			</otherwise>
		</choose>
	</select>
</mapper>