<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.cp.cpspringboot.teacherStatement.mapper.TeacherStatementMapper">
	<sql id="Base_Column_List">
		amount,status,type,forteacher,id,subject,posttime,start,end,listpid,listsetid
	</sql>
	<!-- 根据条件查询 -->
	<select id="findTeacherStatement" parameterType="hashmap"
		resultType="TeacherStatement">
		select
		<include refid="Base_Column_List" />
		from zls_item_teacher_Statement
		<where>
			<if test="id!=null and id!=''">
				and id=#{id,jdbcType=INTEGER}
			</if>
			<if test="listpid!=null and listpid!=''">
				and listpid=#{listpid,jdbcType=INTEGER}
			</if>
		</where>
		<choose>
			<when test="order!=null and order!=''">
				order by ${order}
			</when>
			<otherwise>
				order by id
			</otherwise>
		</choose>
	</select>
</mapper>